@charset "utf-8";
/* CSS Document */

body{
	padding-top:70px;
	background-color: #d0d0d0;
	font-family: none;
   
    
}
/****Start Overridig Bootstrap****/
/*Starte Section Box*/

.option-box{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999
}
.option-box .color-option{
    float: left;
    background: #010101;
    color: #FFFFFF;
    padding: 0;
    width: 200px;
    display: none
   
    
}
.option-box .color-option ul li{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer
}
.option-box .list-unstyled{
   padding-left: 4px;
}
.option-box .gear-check{
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

/*Starte Section Box*/
/* Start Navbar */
.navbar-dark .navbar-nav .nav-link.disabled{
	color: rgb(147 157 151);
}

.navbar-dark .navbar-brand span{
	color: #9b9d8c
}
/* End Navbar ------------------------------------------*/

/* Start Dropdown ---------------------------------------*/
.dropdown-menu{
	border-top: 3px solid #b7ac9e;
	min-width: 12rem;
}
.dropdown-item{
	color: #F0EBEB;
	padding: 0px 6px;
	-webkit-transition: padding .5s ease-in-out;
	-moz-transition:  padding .5s ease-in-out;
	-o-transition:  padding .5s ease-in-out;
	transition:  padding .5s ease-in-out;
}
.dropdown-menu >li> a:hover,
.dropdown-menu >li> a:focus{
	background-color: #0E0D0D;
	color: #FCF6F6;
	padding-left: 25px;
}
.dropdown-divider{
	background-color: #C11316 
}
/* End Dropdown ------------------------------------------------*/
/* Start Carousel ------------------------------------------------*/
.carousel-caption{
	bottom: 80px;
	background-color: rgba(31,31,28,0.32);
}
.carousel-indicators [data-bs-target]{
	width: 40px;	
}
/* End Carousel ------------------------------------------------*/
/* Start Section About -----------------------------------------*/
.about1{
	padding-top: 60px;
	padding-bottom: 60.px;
}
.about1.lead{
	color: #888888;
	font-size: 25px;
	margin-top: 15px;
}
.about1 h1{
	font-weight: bold;
}
/* End Section About -----------------------------------------*/
/* Start Section Features -------------------------------------*/
.features{
	background: #eee;
	padding-top: 50px;
	padding-bottom: 50px
}
.features h1{
	margin-bottom: 50px;
	font-weight: bold
}
.features .feat p {
	line-height: 2em;
}
.features .feat{
	margin-bottom: 30px
}
.features .feat .bi:before{	
	font-size: 30px;
	margin-bottom: 10px;
}
/* End Section Features ---------------------------------------*/
/* Start Testimonials Carousel --------------------------------*/
.testimonials{
	padding-top: 50px;
	padding-bottom: 50px;
	
}
.testimonials h1{
	font-weight: bold;
	margin-bottom: 20px;
}
.testimonials .lead{
	line-height: 2em;
}
.testimonials span{
	font-size: 18px;
	font-weight: bold;
}
.testimonials .carousel-inner{
	min-height: 160px
}
.testimonials .carousel-indicators{
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 20px
	
}
.testimonials .carousel-indicators [data-bs-target]{
	text-indent: 0;
	width: 80px;
	height: 80px;
	background: none;
	overflow: hidden;
	margin: 5px
}
.testimonials .carousel-indicators [data-bs-target] img{
	width: 100%
}
/* End Testimonials Carousel ---------------------------------*/
/* Start Section Price Table ---------------------------------*/
.price_table{
	background: #eee;
	padding-top: 40px;
	padding-bottom: 40px;
	
}
.price_table h1{
	margin-bottom: 40px
}
.price_table .price_box{
	background: #d0d0d0;
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
.price_table .price_box h2{
	margin: 5px 0 15px;
}
.price_table .price_box:hover p{
	-webkit-transform:scale(1.1,1.1) rotate(360deg);
	-moz-transform:scale(1.1,1.1) rotate(360deg);
	-o-transform:scale(1.1,1.1) rotate(360deg);
	transform:scale(1.1,1.1) rotate(360deg);
	
}
.price_table .price_box p{
	font-size: 35px;
	font-weight: bold;
	color: #666;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #eee;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition:  all .7s ease-in-out;
	-o-transition:  all .7s ease-in-out;
	transition:  all .7s ease-in-out;
}
.price_table .price_box ul{
	line-height: 250%;
	font-size: 18px;
}
.price_table .price_box a{
	margin-bottom: 5px;
}
/* End Section Price Table ---------------------------------*/
/* Start Section Our Team ---------------------------------*/
.our-team{
	background: url("../images/g5.jpeg")no-repeat center center fixed;
	background-size: cover;
	min-height: 500px;
	
}
.our-team .team{
	background: rgba(2,2,2,0.5);
	color: #FFFFFF;
	min-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.our-team .person{
	margin-bottom: 40px
}
.our-team h1{
	margin-bottom: 60px;
	
}
.our-team p{
	color: #eae4f5
}
.our-team .rounded-circle{
	width: 165px;
    height: 167px;
	margin: 10px;
}
/* End Section Our Team ---------------------------------*/
/* Start Section Subscribe -------------------------------*/
.subscribe{
	padding: 40px;
	padding-bottom: 40px;
	background: #eee;
	
}
.subscribe h1{
	color: #888888;
	letter-spacing:2px;
	margin-bottom: 20px;
	
}
.subscribe p{
	margin-bottom: 30px;
	
}
.subscribe .form-inline .form-control{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	border-radius: 14px;

}
.subscribe button{
	border-radius: 14px;
}

/* End Section Subscribe ------------------------------*/
/* Start Section Stats -------------------------------*/
.statistics{
	background: url("../images/g2.jpg") no-repeat center bottom fixed;
	background-size: cover;
	min-height:400px;
}
.statistics .data{
	background-color: rgba(2,2,2,0.7);
	color: #eee;
	min-height: 400px;
	padding-bottom: 70px;
	padding-top: 40px;
}
.statistics h1{
	margin-top: 40px;
}
.statistics .stats{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:  all 0.5s ease-in-out;
	-o-transition:  all 0.5s ease-in-out;
	transition:  all 0.5s ease-in-out;
	margin-bottom: 30px;
}
.statistics p{
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 0;
}
.statistics span{
	font-size: 18px;
}
/*Start Section Our Skills--*/
.our-skills{
	padding-top: 13px;
	padding-bottom: 40px;
	
}
.our-skills h1{
	margin-bottom: 30px;
	
}
.our-skills.col-md-6{
	width: 49%;
}
.our-skills h3{
	font-weight: bold;
	margin-top: 0;
}
.our-skills .progress{
	height: 33px;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 10px;
	margin-bottom: 16px
}
.our-skills .progress-bar{
	font-weight: bold;
	
	
}
.our-skills .btn-primary {
    color: #fff;
}

/*End Section Our Skills--*/
/*Start Section Contact US--*/
.contact-us{
	background: url("../images/gambar-background-laptop-1152x648.jpg") no-repeat center bottom fixed;
	background-size: cover;
	min-height:400px;
}
.contact-us .fieldes{
	background: rgba(9,9,9,0.8);
	min-height: 400px;
	color: #DDDDDD;
	padding-bottom: 40px;
	padding-top: 40px;
}
.contact-us p{
	margin-bottom:40px; 
}
.contact-us textarea{
	height: 108px;
}

.contact-us input[type="text"],
.contact-us textarea{
	background: rgba(82,78,78,0.7);
	color: #FFFFFF;
	border: none;
}

/*End Section Contact US--*/
/*Start Section Our Clients--*/
.our-clients{
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.our-clients img{
	opacity: 0.5;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:  all .3s ease-in-out;
	-o-transition:  all .3s ease-in-out;
	transition:  all .3s ease-in-out;
	
}
.our-clients img:hover{
	opacity: 1;
}




/*End Section Our Clients--*/

/*Start Ultimate Footer Section--*/
.footer{
	background: #333333;
	color: #AAAAAA;
	
	padding-top: 20px;
	
}
.footer a
{
	color: #AAAAAA
}
.footer a:hover
{
	color: #0A0909;
}
.footer h3{
	letter-spacing: 1px;
	margin: 30px 0 20px;
	
}

.footer .three-columns{
	overflow: hidden;
}
.footer .three-columns li{
	width: 33.3333%;
	float: left;
	padding: 5px 0;
}
.footer .social-list{
	overflow: hidden;
	margin: 20px 0 10px;
	
}
.footer .social-list li{
	float: left;
	margin-right: 5px;
	opacity: 0.5;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:  all .3s ease-in-out;
	-o-transition:  all .3s ease-in-out;
	transition:  all .3s ease-in-out;
	
}
.footer .social-list li:hover{
	opacity: 1;
	
}
.footer .img-thumbnail{
    background: rgba(0,0,0,0.4);
    border: 1px solid #454541;
    margin-bottom: 5px;
    
}
.footer .copyright{
    background: #454541;
    color: #EEEEEE;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
}
/*End Ultimate Footer Section--*/
/*Start section Loading*/
.loading-overlay{
    background: #333;
    color: #FFFFFF;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.spinner {
  margin: 300px auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #EC880A;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*End section Loading*/
/*Start Scroll top */
#scroll-top{
    width: 47px;
    height: 69px;
    color: #DDDDDD;
    background-color: #777777;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    display: none;
    cursor: pointer;
}
#scroll-top:hover{
    background-color:#444444 
}
/*End Scroll top */

/* End Section Stats ---------------------------------*/


/****End Overridig Bootstrap****/
